*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn
{
    padding: 10px 16px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: green;
    border: 1px solid green;
    cursor: pointer;
    outline: none;
}
.modal
{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);

    /* We will uncomment this later, so that we can see changes */
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}
.content
{
    position: absolute;
    top: 50%;
    left: 50%;

    /* for now remove scale to see changes */
    transform: translate(-50%, -50%) scale(0.25);
    width: 80vw;
    height: 70vh;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    /* for now remove this to see changes */
    opacity: 0;
    transition:  all 0.5s 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img
{
    height: 250px;
}
h2, button
{
    margin: 15px 0;
}
.close,
.close:link,
.close:visited
{
    color: #ccc;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 2.5rem;
    display: inline-block;
    line-height: 1;
    transition: all 0.2s;
}
.close:hover
{
    color: green;
}
/* style that open model */
.modal:target
{
    opacity: 1;
    visibility: visible;
}
.modal:target .content
{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}